%h1 Todos
%table.table.table-striped.table-bordered
  %thead
    %tr.success
      %th Title
      %th Description
         
  %tbody
    - @todos.each do |todo|
      %tr
        %td= todo.title
        %td= truncate(strip_tags(todo.description),:length => 120)
       
      

            
      

